html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.header-button {
    padding: 6px;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.header-button:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}

.main-header-content {
    display: flex;
    padding: 0px 4px 0px 32px;
    font-size: 13px;
}

#google-apps {
    padding: 0px 6px 0px 6px;
    height: 24px;
    width: 24px;
}

#google-apps-link {
    align-self: center;
}

#profile-picture {
    background-size: 32px 32px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0px 6px 0px 6px;
}

.image {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 290px;
}

.search-bar {
    padding: 20px 0 0 0;
}

.custom-search-bar {
    width: auto;
    width: 584px;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #DFE1E5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

.custom-search-bar:hover {
    box-shadow: 0 0 3px #3C4043;
}

.custom-search-bar-contents {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

#search-icon {
    scale: 60%;
    color: #3C4043;
    opacity: 0.5;
}

.input-field {
    border: none;
    height: 34px;
    display: flex;
    flex: 100%;
    outline: none;
    word-wrap: break-word;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.search-buttons {
    display: flex;
    justify-content: center;
    padding: 18px;
}

.search-button {
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
    color: #3C4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-button:hover {
    box-shadow: 0 0 3px #3C4043;
}

.offered-language {
    display: flex;
    justify-content: center;
    font-size: 12px;
    flex-direction: row;
}

#language {
    padding: 0 3px;
    color: #1A0DAB;
    text-decoration: none;
}

#language:hover {
    text-decoration: underline;
}

.detected-country-area {
    display: flex;
    height: 266px;
    flex-direction: row;
    align-items: flex-end;
}

.detected-country {
    display: flex;
    height: 48px;
    width: 100%;
    align-items: flex-end;
    background-color: #F2F2F2;
}

.country {
    color: #222;
    text-decoration: none;
    padding: 15px;
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
    font-size: 14px;
}

.footer-content {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: flex-end;
}

.footer-area {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: flex-end;
    background-color: #F2F2F2;
    border-top: 1px solid rgb(223, 223, 223);
}

.footer-button {
    color: #222;
    text-decoration: none;
    padding: 15px;
    opacity: 0.7;
    font-size: 14px;
}

.footer-button:hover {
    text-decoration: underline;
}

.footer-area-right{
    display: flex;
    height: 48px;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-top: 1px solid rgb(223, 223, 223);
}

.footer-button-right {
    color: #222;
    text-decoration: none;
    padding: 15px;
    opacity: 0.7;
    font-size: 14px;
}

.footer-button-right:hover {
    text-decoration: underline;
}
